/* --- DARK MODE KE RULES --- */

body {
    transition: background-color 0.3s, color 0.3s;
    /* Rang badalne mein smooth animation aayega */
}


/* Jab body par .dark-theme lagega tab yeh colors chalenge */

body.dark-theme {
    background-color: #121212 !important;
    color: #ffffff !important;
}

body.dark-theme h2,
body.dark-theme h3,
body.dark-theme span,
body.dark-theme p {
    color: #f1f1f1 !important;
}

body.dark-theme .car-card {
    background-color: #1e1e1e !important;
    border-color: #333 !important;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05) !important;
}


/* Forms aur inputs ko bhi dark karna */

body.dark-theme input,
body.dark-theme select {
    background-color: #2d2d2d !important;
    color: white !important;
    border: 1px solid #444 !important;
}